* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

#background {
  background-image: url(../public/images/house.jpg);
    background-size: cover;
    background-attachment: local;
    background-position: bottom;
    height: 600PX;
}

